[Desktop Entry]
Version=0.1
Name=witchs_cataya
Name[en_US]=unCheckedOut
Comment=BYU_anm_pipe shortcut for Maya
Exec=gnome-terminal -- bash -c "/groups/unfamiliar/anim_pipeline/launch/hou_checkin.sh; exec bash"
Icon=/groups/unfamiliar/anim_pipeline/icons/uwu.png
Terminal=false
Type=Application
Categories=Utility;Application;
Comment[en_US.UTF-8]=See which shots are checked out by who
